USE [master]
GO
/****** Object:  Database [luongnhanvien]    Script Date: 26/07/2023 9:28:35 SA ******/
CREATE DATABASE [luongnhanvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'luongnhanvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\luongnhanvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'luongnhanvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\luongnhanvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [luongnhanvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [luongnhanvien]
GO
/****** Object:  Table [dbo].[chamcong]    Script Date: 26/07/2023 9:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chamcong](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[THUHAI] [nvarchar](50) NULL,
	[THUBA] [nvarchar](50) NULL,
	[THUTU] [nvarchar](50) NULL,
	[THUNAM] [nvarchar](50) NULL,
	[THUSAU] [nvarchar](50) NULL,
	[THUBAY] [nvarchar](50) NULL,
	[CHUNHAT] [nvarchar](50) NULL,
 CONSTRAINT [PK_chamcong] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[luongthang]    Script Date: 26/07/2023 9:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luongthang](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[SOCA] [int] NOT NULL,
	[TONGTHOIGIAN] [float] NOT NULL,
	[PHAT] [nvarchar](100) NULL,
	[TONGLUONGSO] [int] NOT NULL,
	[TONGLUONGCHU] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_luongthang] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 26/07/2023 9:28:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NOT NULL,
	[SDT] [bigint] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[NAMSINH] [int] NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chamcong]  WITH CHECK ADD  CONSTRAINT [FK_chamcong_nhanvien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[nhanvien] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[chamcong] CHECK CONSTRAINT [FK_chamcong_nhanvien]
GO
ALTER TABLE [dbo].[luongthang]  WITH CHECK ADD  CONSTRAINT [FK_luongthang_luongthang] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[nhanvien] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[luongthang] CHECK CONSTRAINT [FK_luongthang_luongthang]
GO
USE [master]
GO
